.flex-center {
    display: flex;
    align-items: center;
}

.badge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.badge {
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--bg-busy);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}

.badge-sm {
    height: 1rem;
    width: 1rem;
}

.badge-lg {
    height: 2rem;
    width: 2rem;
    right: 10px;
    font-size: 1.375rem;
    font-weight: bold;
}

/* Badge on Icon CSS */

.icon {
    font-size: 1.5rem;
}

.badge-icon {
    position: relative;
    bottom: 10px;
    right: 1.5625rem;
}

/* Badge on Avatar CSS */

.badge-status {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-left: auto;
    position: relative;
    bottom: -1rem;
    left: -1rem;
  }

.badge-online {
    background-color: var(--bg-success);
}

.badge-busy {
    background-color: var(--bg-busy);
}

.badge-dnd {
    background-color: var(--bg-danger);
}

.badge-idle {
    background-color: var(--bg-body);
}