.card-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.card-heading {
    margin-left: 0.3rem;
}

.card-author {
    padding: 2px;
    margin: 0.3rem;
}

.card-content {
    margin: 0.5rem;
}

.card-container {
    background-color: var(--bg-body);
    width: 22rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
}

.card-container-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.card-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
}  

.card-image {
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 1rem 1rem 0 0;
    
}

.image-horizontal {
    border-radius: 0px;
    width: 100%;
}

.card-actions {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

.card-btn {
    text-decoration: none;
    background: transparent;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--bg-body);
    cursor: pointer;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    margin: 0 1.5rem 1rem 0;
    cursor: pointer;
}

.card-badge {
    background-color: var(--primary-color);
    color: var(--bg-body);
    font-size: 1.2rem;
    font-weight: 600;
    width: 5rem;
    position: absolute;
    top: 2.5%;
    left: 0;
    text-align: center;
}

.card-dismiss {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
}

.card-dismiss:hover {
    color: var(--bg-body);
    background-color: var(--primary-color);
}

/* cards overlay */
/********* Simple or original overlay *******/

/* Main container */
.overlay-image {
    position: relative;
    width: 100%;
}

/* Original image */
.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    /* Only used rgba here for opacity*/
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-overlay p {
    background-color: var(--bg-danger);
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: medium;
    font-weight: bold;
}

.box-shadow-card {
    box-shadow: var(--primary-color) 0px 5px 10px;
}